// Extra small devices (landscape phones, 200px and up)
@media (min-width: 200px) and (max-width: 575.98px) {
  .cart {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .bnt-empty {
      width: 8rem;
      align-self: end;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .cart {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .bnt-empty {
      width: 8rem;
      align-self: end;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .cart {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .bnt-empty {
      width: 8rem;
      align-self: end;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .cart {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    .bnt-empty {
      width: 8rem;
      align-self: end;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cart {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

    .bnt-empty {
      width: 8rem;
      align-self: end;
    }
  }
}
