// Extra small devices (landscape phones, 200px and up)
@media (min-width: 200px) and (max-width: 575.98px) {
  .catalogue-card {
    display: flex;
    justify-content: center;
    max-height: fit-content;
 

    &--img {
      width: 180px;
      margin: auto;

      img {
        width: 100%;
      }
    }

    &--txt {
      text-align: center;
    }
    &--btnDetail {
      &-link {
        color: #fff;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .catalogue-card {
    display: flex;
    justify-content: center;
    height: 450px;

    &--img {
      width: 120px;
      margin: auto;

      img {
        width: 100%;
      }
    }

    &--txt {
      text-align: center;
    }
    &--btnDetail {
      &-link {
        color: #fff;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .catalogue-card {
    display: flex;
    justify-content: center;
    height: 450px;

    &--img {
      width: 120px;
      margin: auto;

      img {
        width: 100%;
      }
    }

    &--txt {
      text-align: center;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .catalogue-card {
    display: flex;
    justify-content: center;
    height: 450px;
    transition: all 0.2s ease-in-out;

    &--img {
      width: 120px;
      margin: auto;

      img {
        width: 100%;
      }
    }

    &--txt {
      text-align: center;
    }
    &--btnDetail {
      &-link {
        color: #fff;
        background-color: #ea4c89;
        border-radius: 1px solid #ea4c89 ;
        border-radius: 50px;
      }
    }
    &--btnDetail:hover {
      &-link {
        color: #ea4c89;
        background-color: #fff;
        border: 1px solid #ea4c89;
        border-radius: 50px;
      }
    }
  }
  .catalogue-card:hover {
    transform: scale(1.1);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .catalogue-card {
    display: flex;
    justify-content: center;
    height: 450px;
    transition: all 0.2s ease-in-out;
    &--img {
      width: 120px;
      margin: auto;

      img {
        width: 100%;
      }
    }

    &--txt {
      text-align: center;

      &-name {
        font-size: 1rem;
      }
    }

    &--btnDetail {
      
        color: #fff;
        background-color: #ea4c89;
        border-radius: 1px solid #ea4c89 ;
        border-radius: 50px;
    
    }
    &--btnDetail:hover {
      
        color: #ea4c89;
        background-color: #fff;
        border: 1px solid #ea4c89;
        border-radius: 50px;
      
    }
  }
  .catalogue-card:hover {
    transform: scale(1.1);
  }
}
