// Extra small devices (landscape phones, 200px and up)
@media (min-width: 200px) and (max-width: 575.98px) {
    .cart-card {
        margin: 1rem;
        display: grid;
        grid-template-columns: 30% 70%;
        min-width: 180px;
        max-width: 550px;
        
        &--img {
            min-width: auto;
            
            img {
                width: 100%;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .cart-card {
            margin: 1rem;
            display: grid;
            grid-template-columns: 30% 70%;
    
            &--img {
                width: 150px;
    
                img {
                    width: 100%;
                }
            }
        }
}